.Me {
  text-align: center;
  ;
}


.clock{
  background: rgb(11, 116, 98) ;
  height: 30vh;
  font-size: 100px;
  padding-top: 60px;
}

.buts{
  background: rgba(190, 179, 13, 0.959);
  height: 10vh;
  width: 12%;
  border-radius: 10%;
  font-size: 30px;
  
}
.display{
  background: rgb(102, 22, 206) ;
  height: 30vh;
  font-size: 100px;
  padding-top: 60px;
}


.cont{
  background: rgba(160, 20, 51, 0.959);
  height: 10vh;
  width: 12%;
  border-radius: 10%;
  font-size: 30px;

}